section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.title-ability{
  color: #F05941;
}

#container-grid-8-elements{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#container-grid-6-elements{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.container-pic{
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 20px;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
  transition: 0.5s;
}

img{
  width: 80px;
  height: 80px;
}

p{
  margin-top: 3px;
  color: #cc6f8b;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  font-size: 10px;
}


.item:hover::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(85, 60, 60, 0.384);
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
