<section>
  <div><h2 class="title-ability">Habilidades</h2></div>

    <div id="container-grid-8-elements" class="container-pic">
      <div class="item">
        <img src="assets/imgs/habilidades/c-sharp.png">
        <p>C#</p>
      </div>
      <div class="item">
        <img src="assets/imgs/habilidades/nodejs.png">
        <p>NodeJs</p>
      </div>
      <div class="item">
        <img src="assets/imgs/habilidades/mysql.png">
        <p>MySql</p>
      </div>
      <div class="item">
        <img src="assets/imgs/habilidades/angular.png">
        <p>Angular</p>
      </div>
      <div class="item">
        <img src="assets/imgs/habilidades/typescript.png">
        <p>Typescript</p>
      </div>
      <div class="item">
        <img src="assets/imgs/habilidades/react.png">
        <p>React</p>
      </div>
      <div class="item">
        <img src="assets/imgs/habilidades/js.png">
        <p>Javascript</p>
      </div>
      <div class="item">
        <img src="assets/imgs/habilidades/html.png">
        <p>HTML</p>
      </div>
    </div>

    <div id="container-grid-6-elements" class="container-pic">
      <div class="item">
        <img src="assets/imgs/habilidades/css-3.png">
        <p>CSS</p>
      </div>
      <div class="item">
        <img src="assets/imgs/habilidades/visual-studio.png">
        <p>Visual Studio</p>
      </div>
      <div class="item">
        <img src="assets/imgs/habilidades/vscode.png">
        <p>VSCode</p>
      </div>
      <div class="item">
        <img src="assets/imgs/habilidades/postman.png">
        <p>Postman</p>
      </div>
      <div class="item">
        <img src="assets/imgs/habilidades/branch.png">
        <p>Git e GitHub</p>
      </div>
      <div class="item">
        <img src="assets/imgs/habilidades/aspnet.png">
        <p>ASP.NET</p>
      </div>
    </div>

</section>
