<section>
  <div class="container-info">
    <div id="container-img-title">
      <img src="assets/imgs/minha-foto.png" alt="mulher de cabelo preto pele clara e blusa vermelha">
      <h2 class="title-about-me ff-oswald-regular">Sobre mim</h2>
    </div>

    <div class="container-paragraph">
      <div>
        <p class="ff-kanit-regular">
          (ɔ◔‿◔)ɔ ♥
          <span>
            Apaixonada por inovação e desenvolvimento desde 2022
          </span>,
          busco sempre aprender com projetos práticos, documentando minha evolução
          de maneira proativa no Notion
          <a href="https://resumos-dev.notion.site/resumos-dev/38d97101cd2f449ba4495d592c1f97ca?v=8775216375054ddfa1cc1e71d8f8cde2" target="_blank">
            (se tiver interesse clique aqui).
          </a>
          Sou formada em
          <span>
            Desenvolvimento FullStack
          </span> pela Imã Tech e fui reconhecida pelo
          meu desempenho em hanks do programa.
        </p>
      </div>

      <div class="right-paragraph">
        <p class="ff-kanit-regular">
          O meu
          <span>foco atualmente é em back end</span>,
          mas estou disposta a trabalhar com front end também (veja minha habilidades fullstack na próxima seção).
          <span>Atualmente sou junior e monitora de um bootcamp na Imã Tech.</span>
      </div>
      <div class="right-paragraph">
        <p class="ff-kanit-regular">
          Como junior, desenvolvo um LSM com as stacks em <span>Python, ReactJS e MongoDb</span>.
          E como monitora, eu auxilio os participantes com lógica de programação, a como se organizar nos estudos e trocando idéias sobre implementações de projetos em <span>C# e Angular</span>.
        </p>
      </div>

    </div>

    <div id="container-contact-button">
      <p>Quer me conhecer mais?</p>
      <button (click)="scrollToSection('section-contato')">Contatos</button>
    </div>

  </div>
</section>
