<section>
  <div id="container-title-section" >
    <h2 class="section-title">Meus principais projetos</h2>
    <p class="subtitle-section">Quantidade total de projetos:
      <span>
        {{ qtdTotalDeProjetos }}
      </span>
    </p>
  </div>

  <div id="container-projects">

    <a href="https://github.com/LariLealDias/SchoolManager" target="_blank">
      <div class="project">
        <img src="assets/imgs/projetos/schoolmanager-back.PNG">
        <p class="subtitle-project">Gerenciador Escolar - API REST</p>
      </div>
    </a>

    <a href="https://github.com/LariLealDias/SchoolManager-Front" target="_blank">
      <div class="project">
        <img src="assets/imgs/projetos/schoolmanager-front.png">
        <p class="subtitle-project">Gerenciador Escolar - Angular</p>
      </div>
    </a>

    <a href="https://github.com/LariLealDias/Memoteca" target="_blank">
      <div class="project">
        <img src="assets/imgs/projetos/memoteca.png">
        <p class="subtitle-project">Memoteca - Angular </p>
      </div>
    </a>

    <a>
      <div class="project">
        <img src="assets/imgs/projetos/softFinance.PNG">
        <p class="subtitle-project">Bootcamp FullStack - Simulção de um banco </p>
      </div>
    </a>

    <a href="https://github.com/LariLealDias/API-Livros" target="_blank">
      <div class="project">
        <img src="assets/imgs/projetos/books.PNG">
        <p class="subtitle-project">Gerenciador de livros - API REST </p>
      </div>
    </a>

    <a href="https://github.com/LariLealDias/Cronometro-simples" target="_blank">
      <div class="project">
        <img src="assets/imgs/projetos/Cronometro.PNG">
        <p class="subtitle-project">Cronometro </p>
      </div>
    </a>

    <a href="https://github.com/LariLealDias/GameHub" target="_blank">
      <div class="project">
        <img src="assets/imgs/projetos/GameHub.png">
        <p class="subtitle-project">GameHub pelo terminal </p>
      </div>
    </a>
  </div>

</section>
