<section>
  <div id="container-title">
    <h2 class="title-contact">Contato</h2>
    <p class="ff-oswald-semi-bold subtitle">Quer me conhecer mais?</p>
    <p class="subtitle" >Baixe meu CV <a href="assets/pdf/Curriculo-LarissaLeal.pdf" download="Curriculo-LarissaLeal.pdf">aqui</a> e me procure nas redes</p>
  </div>

  <div id="container-nav">
    <nav>
      <li>
          <div class="container-logo-and-p">
            <img src="assets/imgs/email.png" alt="logo email">
            <p class="title-logo-email">larileal@hotmail.com.br</p>
          </div>
        </li>

      <li>
        <a href="https://www.linkedin.com/in/larissa-leal-dias-408455157/" target="_blank">
          <div class="container-logo-and-p">
            <img src="assets/imgs/linkedin.png" alt="logo Linkedin">
            <p class="title-logo">Linkedin</p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://github.com/LariLealDias" target="_blank">
        <div class="container-logo-and-p">
            <img src="assets/imgs/github.png" alt="logo GitHub">
            <p class="title-logo">GitHub</p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://medium.com/@larileal6" target="_blank">
        <div class="container-logo-and-p">
            <img src="assets/imgs/medium.png" alt="logo Medium">
            <p class="title-logo">Medium</p>
          </div>
        </a>
      </li>

    </nav>
  </div>
</section>
